acme==1.18.0
asgiref==3.4.1
autopep8==1.5.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cryptography==3.4.7
decorator==5.0.9
Django==3.2.6
django-rest-framework==0.1.0
djangorestframework==3.12.4
gevent==21.8.0
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
josepy==1.8.0
psutil==5.8.0
pycodestyle==2.7.0
pycparser==2.20
pyOpenSSL==20.0.1
pyRFC3339==1.1
python-crontab==2.5.1
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.6
validators==0.18.2
whitenoise==5.3.0
zope.event==4.5.0
zope.interface==5.4.0
