<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <router-link class="sidebar-brand d-flex align-items-center justify-content-center" :to="{name: 'dashboard'}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-ubuntu"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FastCP</div>
    </router-link>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <router-link class="nav-link" :to="{name: 'dashboard'}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </router-link>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Manage
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <router-link class="nav-link collapsed" :to="{name: 'websites'}">
            <i class="fas fa-globe"></i>
            <span>Websites</span>
        </router-link>
    </li>
    <li class="nav-item">
        <router-link class="nav-link collapsed" :to="{name: 'databases'}">
            <i class="fas fa-database"></i>
            <span>Databases</span>
        </router-link>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
        <router-link class="nav-link collapsed" :to="{name: 'users'}">
            <i class="fas fa-terminal"></i>
            <span>SSH Users</span>
        </router-link>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="fas fa-calendar-alt"></i>
            <span>Cron Jobs</span>
        </a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
        <router-link class="nav-link collapsed" :to="{name: 'hardware'}">
            <i class="fas fa-ethernet"></i>
            <span>Hardware Info</span>
        </router-link>
    </li>
    {% endif %}
</ul>