{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FastCP - A fast & secure control panel for Ubuntu</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'core/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'core/assets/css/sb-admin-2.min.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition-property: opacity;
            transition-duration: .25s;
        }

        .fade-enter-active {
            transition-delay: .25s;
        }

        .fade-enter,
        .fade-leave-active {
            opacity: 0
        }
        .vs__search {
            height: 25px;
            font-size: 18px;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Do you really want to sign out?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="javascript:void(0)" @click="signOut()">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        {% include 'partials/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input @keyup.enter="EventBus.$emit('doSearch')" id="search-input" v-if="['websites', 'databases', 'files', 'users'].includes($route.name)" type="text" class="form-control bg-light border-0 small" :placeholder="'Search '+ $route.name + '...'"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <input @keyup.enter="EventBus.$emit('doSearch')" id="search-input" v-else type="text" class="form-control bg-light border-0 small" placeholder="Search websites..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button @click="EventBus.$emit('doSearch')" class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                {% if user.notifications.count %}
                                <span class="badge badge-danger badge-counter">{{ user.notifications.count }}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notifications
                                </h6>
                                {% for notification in notifications %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{ notification.date }}</div>
                                        <span class="font-weight-bold">{{ notification.title }}</span>
                                    </div>
                                </a>
                                {% empty %}
                                <a class="dropdown-item text-center small text-gray-500" href="javascript:void(0)">No
                                    notifications found!</a>
                                {% endfor %}
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <i class="fas fa-user border border-primary rounded-circle p-1"></i>
                                </span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <loading color="#3b5998" loader="dots" :active.sync="$store.state.busy" :is-full-page="true">
                    </loading>
                    <transition name="fade">
                        <router-view v-slot="{ Component }">
                            <component :is="Component" />
                        </router-view>
                    </transition>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; {% now 'Y' %} <a href="{{ FASTCP_SITE_URL }}" rel="nofollow"
                                target="_BLANK">{{ FASTCP_SITE_NAME }}</a> v{{ FASTCP_VERSION }}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'core/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'core/assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'core/assets/js/sb-admin-2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        let FM_ROOT = "{{ FASTCP_FM_ROOT }}";
        let PMA_URL = "{{ PMA_URL }}";
    </script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script>
        // Provide a fallback EventBus for older Vue 2-style components
        (function(){
            try {
                if (!window.EventBus) {
                    // Vue might not be available yet in ESM builds; create minimal emitter
                    function Bus() { this._events = Object.create(null); }
                    Bus.prototype.$on = function(ev, fn){ (this._events[ev]||(this._events[ev]=[])).push(fn); };
                    Bus.prototype.$off = function(ev, fn){ if(!ev) { this._events = Object.create(null); return; } var l = this._events[ev]; if(!l) return; if(!fn) { this._events[ev]=null; return; } for(var i=l.length-1;i>=0;i--){ if(l[i]===fn||l[i].fn===fn) l.splice(i,1); } };
                    Bus.prototype.$emit = function(ev){ var l=this._events[ev]; if(!l) return; var args=Array.prototype.slice.call(arguments,1); for(var i=0;i<l.length;i++){ try{ l[i].apply(null,args); }catch(e){} } };
                    window.EventBus = new Bus();
                }
                // Silence Vue esm-bundler feature flag warning by defining the flag if missing
                if (typeof window.__VUE_PROD_HYDRATION_MISMATCH_DETAILS__ === 'undefined') {
                    window.__VUE_PROD_HYDRATION_MISMATCH_DETAILS__ = false;
                }
            } catch (e) { /* noop */ }
        })();
    </script>
    <script src="{% static 'core/assets/js/fastcp.js' %}?{% now 'U' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>